.elements {
  box-sizing: border-box;
  padding: 70px 70px 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .elements {
    padding: 40px 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    padding: 40px 10px 0;
  }
}


.element {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 20px;
  row-gap: 38px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 60px 0;
  justify-content: center;
  list-style: none;
}

@media screen and (max-width: 1170px) {
  .element {
    grid-template-columns: repeat(3, 270px);
    column-gap: 20px;
    row-gap: 30px;
  }
}
  
@media screen and (max-width: 900px) {
  .element {
    grid-template-columns: repeat(2, 339px);
    column-gap: 30px;
    row-gap: 30px;
  }
}
  
@media screen and (max-width: 750px) {
  .element {
    grid-template-columns: 300px;
    row-gap: 34px;
  }
}

.element__error {
  text-align: center;
}
  
.elements__more {
  display: block;
  padding: 0;
  margin: 0 auto;
  width: 320px;
  height: 36px;
  border-radius: 6px;
  background-color: rgba(249, 249, 249, 1);
  
  cursor: pointer;
  text-align: center;
  border: none;
  font-size: 12px;
    font-weight: 500;
    line-height: 15px;
}

@media screen and (max-width: 750px) {
  .elements__more {
    width: 240px;
    height: 36px;
  }
}

