.movies-card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    max-width: 1280px;
    padding: 70px 70px 80px;
}

.movies-card-list__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    gap: 38px 20px;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    list-style: none;
}

.movies-card-list__button {
    width: 320px;
    height: 36px;
    margin: 50px auto 0px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
    text-align: center;
    background-color: #F9F9F9;
    padding: 0;
    border: none;
    border-radius: 6px;
}

@media screen and (max-width:990px) {
    .movies-card-list {
        padding-left: 30px;
        padding-right: 30px;
    }

    .movies-card-list__list {
        gap: 30px 30px;
        grid-template-columns: repeat(auto-fit, 339px);
        justify-content: center;
    }
}

@media screen and (max-width:767px) {
    .movies-card-list {
        padding: 40px 10px 80px;
    }

    .movies-card-list__list {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 34px;
    }

    .movies-card-list__button {
        width: 240px;
    }
}

