.movies-card {
    width: 100%;
}

.movies-card__image {
    width: 100%;
}

.movies-card__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 29px;
    margin-top: 14px;
    border-bottom: 1px solid #E8E8E8;
}

.movies-card__text {
    margin: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

.movies-card__button {
    height: 24px;
    width: 24px;
    background-color: #F9F9F9;
    border-radius: 50%;
    border: none;
    padding: 0;
}

.movies-card__like {
    height: 10px;
    width: 10px;
    margin: auto;
    background-image: url(../../images/like.svg);
    background-repeat: no-repeat;
}

.movies-card__duration {
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    color: #A0A0A0;
    margin: 6px 0px 0px;
}