.auth-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 40px 0px 40px;
}

@media screen and (max-width: 767px) {
    .auth-title {
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: center;
    }
} 