.searchFilms {
  width: 100%;
  margin: 0;
  padding: 69px 70px 0;

  min-width: 320px;
  box-sizing: border-box;
  display: flex;
 
}

@media screen and (max-width: 768px) {
  .searchFilms {
    padding: 80px 30px 0;
  }
}

@media screen and (max-width: 500px) {
  .searchFilms {
   padding: 85px 14px 0;
  }
}
 
.searchFilms__conteiner {
  width: 100%;
  margin: 0;
  padding-bottom: 13px;
  border-bottom: 1px solid #E8E8E8;
  box-sizing: border-box;
  display: flex;
 
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .searchFilms__conteiner {
    padding-bottom: 8px;
  }
}

.searchFilms__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.searchFilms__input {
  
  text-align: left;
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 80%;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
}

@media screen and (max-width: 500px) {
  .searchFilms__input {
    font-size: 18px;
    line-height: 22px;
  }
}

.searchFilms__input:focus {
  outline: 1px solid #3456F3;
}

.searchFilms__button {
  transition: background-color 1s ease;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background: #3456F3;
 
  text-align: center;
  color: #FFF;
  width: 58.65px;
  height: 34px;
   font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.searchFilms__button:hover {
  background-color: rgba(52, 86, 243, 0.8);
}

.searchFilms__button:disabled {
  cursor: auto;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

.searchFilms_error {
  margin: 0;
  padding: 20px 0 0 0 ;
  min-height: 14px;
 
  text-align: center;
  color: #FF0000;
  visibility: hidden;
   font-size: 11px;
  font-weight: 400;
  line-height: 12px;
} 

@media screen and (max-width: 768px) {
  .searchFilms_error {
    padding-top: 16px;
  }
}

.search__error_active {
  visibility: visible;
}