.profile {
  margin: 0;
  border: 0;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 410px;
  padding: 123px 0 128px;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .profile {
    padding: 96px 0 119px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding: 79px 0 288px;
    width: 260px;
  }
}

.profile_edit {
  padding-bottom: 166px;
}

