.portfolio {
    margin-top: 101px;
}

.portfolio__title {
    color: #A0A0A0;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.portfolio__text {
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
}

.portfolio__list {
    list-style: none;
    margin-top: 50px;
    padding: 0;
    margin: 35px 0px 0px;
}

.portfolio__item {
    padding: 15px 0px 15px;
    border-bottom: 1px solid #E8E8E8;
}

.portfolio__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
}

.portfolio__link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.portfolio__img {
    line-height: 60px;
}

@media screen and (max-width:767px) {
    .portfolio {
        margin-top: 70px;
    }
    .portfolio__title {
        font-size: 14px;
        line-height: 20px;
    }

    .portfolio__list {
        margin-top: 25px;
    }

    .portfolio__item {
        padding: 20px 0px;
    }

    .portfolio__text {
        font-size: 18px;
        line-height: 28px;
    }
}