.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation__list {
    display: flex;
    flex-direction: column;
    gap: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation__item {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: #000000;
}