.filter-checkbox {
    display: inline-flex;
    position: relative;
    margin-top: 33px;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.38;
    align-items: center;
    gap: 15px;
}

.filter-checkbox__toggle {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.filter-checkbox__switch {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    width: 34px;
    height: 14px;
    box-sizing: content-box;
    position: relative;
    border-radius: 20px;
    background-color: #2BE080;
    transition: 0.25s;
    cursor: pointer;
    
}

.filter-checkbox__switch::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 2px;
    transform: translate(200%, -50%);
    background-color: white;
    transition: inherit;
}

.filter-checkbox__toggle:checked + .filter-checkbox__switch {
    background-color: green;
    
}

@media screen and (max-width: 990px) {
    .filter-checkbox {
        margin-left: 435px;
        flex-direction: row-reverse;
    }

    
}

@media screen and (max-width: 767px) {
    .filter-checkbox {
        margin: 41px auto 0px;
        font-size: 11px;
        line-height: 18px;
    }
}