.filter-checkbox {
    display: flex;
    position: relative;
    margin-top: 33px;
    
}

.filter-checkbox__input {
    opacity: 0;
    
}

.filter-checkbox__switch {
    width: 36px;
    height: 20px;
    background-color: #343434;
    border-radius: 20px;
    
}

.filter-checkbox__switch::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
    background-color: #a0a0a0;
    transition: inherit;
}

@media screen and (max-width: 990px) {
    .filter-checkbox {
        margin-left: 435px;
    }
}

@media screen and (max-width: 767px) {
    .filter-checkbox {
        margin: 46px auto;
    }
}