.form__input {
  margin: 0;
  border: 0;
  min-height: 266px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 396px;
  gap: 2px;

}

.form__input_registrationForm {
  padding: 41px 0 80px;
}

@media screen and (max-width: 600px) {
  .form__input_registrationForm {
    padding-top: 80px;
    padding-bottom: 300px;
    width: 260px;
  }
}

@media screen and (max-width: 600px) {
  .form__input {
    padding: 75px 0 18px;
    width: 260px;
  }
}
