.account-link {
    display: flex;
    border-radius: 50px;
    border: 2px solid #E8E8E8;
    padding: 10px 7px 10px 11px;
    width: 100px;
    width: 90px;
    gap: 14px;
    text-decoration: none;
}

.account-link__text {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    color: #000000;
    text-decoration: none;
}

.account-link__image {
    background: url(../../images/profile-icon.svg);
    height: 12px;
    width: 12px;
}



@media screen and (max-width:768px) {
    .account-link {
        display: none;
    }
}

/* @media screen and (max-width:767px) {
    .account__link {
        margin-top: 444px;
    }
} */